<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <title>Event Details</title>
    <link href="/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <!--Header for page-->
    <div class="header" >
        <img src = "/logo.png" id = "logo">            
        <!--Creates a dropdown navigation menu based on either category or event-->
        <div class="dropdown">
            <a class="btn btn-primary mb-3 w3-show-inline-block" href="/">Home</a>
            <!--drop down for category related pages-->
            <button class="btn btn-primary mb-3 dropdown-toggle w3-show-inline-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categories
            </button>
                <ul class="dropdown-menu"aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="/32444737/add-category">Add Category</a></li>
                    <li><a class="dropdown-item" href="/32444737/events-categories">View Categories</a></li>
                    <li><a class="dropdown-item" href="/32444737/delete-category">Delete Category</a></li>
                </ul>
            
            <!--drop down for event related pages-->
            <button class="btn btn-primary mb-3 dropdown-toggle w3-show-inline-block" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Events
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/natalie/listAllEvents">View All Events</a></li>
                <li><a class="dropdown-item" href="/natalie/listSoldEvents">View Sold out Events</a></li>
                <li><a class="dropdown-item" href="/natalie/addEvent">Add Event</a></li>
                <li><a class="dropdown-item"href="/natalie/deleteEvent">Delete Event</a></li>
            </ul>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <!--header of page contents-->
                <div class="trim"><img class = "my-2 text-center" src = "<%= image %>" id="catImage"></div>   
                <!--title of page-->         
                <div class = "text-center">                
                    <h3 class="mb-3"><b>Event Details</b></h3>
                </div>
                <!--container of event details-->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><b>Event ID: </b></h5>
                        <h5 class = "card-title"><%= event.id %></h5>
                        <h5 class="card-title"><b>Name:  </b></h5>
                        <h5 class="card-title"><%= event.name %></h5>
                        <h5 class="card-title"><b>Description:</b></h5> 
                        <h5 class="card-title"><%= event.desc %></h5>
                        <h5 class="card-title"><b>Start Date Time:</b></h5>
                        <h5 class="card-title"><%= `${event.startDate.getDate()}/${event.startDate.getMonth()}/${event.startDate.getYear()+1900}, ${event.startDate.getHours()>12?event.startDate.getHours()-12:event.startDate.getHours()}:${event.startDate.getMinutes()}:00 ${event.startDate.getHours()>12?"PM":"AM"}` %></h5>
                        <h5 class="card-title"><b>End Date Time:</b></h5>
                        <h5 class="card-title"><%= event.endDate %></h5>
                        <h5 class="card-title"><b>Duration:</b></h5>
                        <h5 class="card-title"><%= event.duration %></h5>
                        <h5 class="card-title"><b>IsActive:</b></h5>
                        <h5 class="card-title"><%= `${event.isActive?"Active":"not Active"}` %></h5>
                        <h5 class="card-title"><b>Capacity:</b></h5>
                        <h5 class="card-title"><%= event.capacity %></h5>
                        <h5 class="card-title"><b>Tickets Available: </b></h5>
                        <h5 class="card-title"><%= event.ticketsAvailable %></h5>
                        <h5 class="card-title"><b>Category Id:</b></h5>
                        <h5 class="card-title"><%= event.catId %></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!--css code-->
<style>
    .container{
       max-width: 1700px;
       padding-bottom: 50px;
       
    } 
    .header{  
        padding: 25px;
        text-align: center;
        background: #f97705;
        color: white;
        font-size: 30px;
    }
    #catImage{
            width: 940px;
            height: 440px;
           
    }
    div.trim {
        max-width:940px;
        max-height: 220px;
        overflow: hidden;
    }
    #logo{
    width:165px;
    height: 125px;
    padding-bottom: 20px;
    }
    h1{
    padding:10px;
    font-size: 40px;
    }
    h2{
    padding-top:40px;
    font:200;
    }

    body{
        background-color: rgb(232, 228, 223);
        }
    input{
    width: 200px;
    }
    button{
        color: #255fff;
    }
</style>
</html>
